* {
  font-family: "Montserrat";
  box-sizing: border-box;
}
.message{
  width: 100%;
  display: block;
  margin: 15px 0;
  padding: 10px 12px;
  text-align: center;
}
.message-await{
  background-color: #717171;
  color: white;
}
.message-400{
  background-color: red;
  color: white;
}
.message-200{
  background-color: green;
  color: white;
}

.clearfix {
  clear: both;
  float: none;
}
.li-item {
  transition: all 300ms;
}
.li-item:hover {
  text-shadow: 0 0 15px #f2f2f2;
  transition: all 300ms;
}
body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
// The nav is scrolling
.Iscrolling {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  transition: all 500ms;
  z-index: 9990;
}
#top {
  min-height: 50px;
  width: 100%;
  background-color: #0d0d0d;
  transition: all 500ms;
  .logo-page {
    width: 60%;
    float: left;
    img {
      display: block;
      float: left;
      margin-top: 10px;
    }
    h1 {
      margin-left: 10px;
      float: left;
      font-size: 25px;
      color: #f2f2f2;
      line-height: 40px;
    }
  }
}
.promotion {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(https://images5.alphacoders.com/444/thumb-1920-444393.jpg);
    background-size: cover;
    background-position: top center;
    opacity: 0.25;
  }
  h1 {
    width: 100%;
    position: absolute;
    font-size: 4rem;
    text-align: center;
    color: #f2f2f2;
  }
}
.header-intro {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(https://i.pinimg.com/originals/15/fa/cd/15facd4980ba0946a2df86b5cf85d8d3.jpg);
    background-size: cover;
    background-position: top center;
    opacity: 0.25;
  }
  .header-info {
    position: relative;
    h1 {
      font-size: 4rem;
      text-align: center;
      color: #f2f2f2;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    span {
      display: block;
      color: #f2f2f2;
      text-align: center;
      width: 100%;
    }
    .button {
      width: 30%;
      text-align: center;
      display: block;
      background-color: #f2f2f2;
      color: #0d0d0d;
      margin: 0 auto;
      margin-top: 25px;
      padding: 15px 25px;
      cursor: pointer;
      text-decoration: none;

      span {
        color: #0d0d0d;
        font-weight: bold;
      }

    }
  }
}
.buttonContainer {
  background-color: #f2f2f2;
  padding: 15px 0;
}
.button {
  width: 20%;
  text-align: center;
  display: block;
  background-color: #0d0d0d;
  color: #f2f2f2;
  margin: 0 auto;
  padding: 15px 25px;
  text-decoration: none;

  cursor: pointer;
  a {
    color: #f2f2f2;
    text-decoration: none;
  }
  span {
    color: #f2f2f2;
    font-weight: bold;
  }
}
// NAV STYLES
.containerNav {
  float: left;
  width: 40%;
  display: block;
}
nav ul {
  float: left;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 48px;
}
nav ul li:last-child {
  margin-right: 24px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  line-height: 40px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}
#nav:checked + .nav-btn i {
  background: #f2f2f2;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
  width: 100%;
  height: 100%;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}
.hidden {
  display: none;
}
.admin {
  display: block;
}
.menu-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  flex-flow: wrap;
}
.menu-item {
  background-color: #333;
  width: 20%;
  margin: 15px;
  border-radius: 7px;
  box-shadow: 0 0 7px #333;
  overflow: hidden;
  .imgContainer {
    overflow: hidden;
  }
  img {
    border-radius: 15px 15px 0px 0px;
    height: 250px;
    width: 100%;
    display: block;
    transition: all 300ms;
  }
  img:hover {
    transform: scale(1.2);
    transition: all 300ms;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  span {
    font-size: 17px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
}
// List container
#listContainer {
  width: 70%;
  overflow: scroll;
  h1 {
    letter-spacing: 0.1em;
  }
  table {
    width: 100%;
    th,
    td {
      padding: 7px 10px 10px 10px;
    }
    th {
      letter-spacing: 0.1em;
      font-size: 90%;
      text-align: left;
      border-bottom: 2px solid #111;
      border-top: 1px solid #999;
    }
    td {
      text-align: center;
      .deleteFood {
        cursor: pointer;
      }
    }
  }
}
// Form screen
#FoodUploadContainer {
  min-height: 900px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
  }
  .formContainer {
    width: 60%;
    min-height: 350px;
    padding: 85px;
    background-color: #0d0d0d;
    label {
      color: white;
      text-transform: uppercase;
      display: block;
      width: 100%;
      margin: 10px 0;
    }
    input,
    textarea {
      background-color: #ccc;
      width: 100%;
      color: #0d0d0d;
      padding: 10px 7px;
      border-color: transparent;
      font-family: "Montserrat";
    }
    .buttonSubmit {
      display: block;
      padding: 10px 15px;
      background-color: #ccc;
      color: #0d0d0d;
      text-align: center;
      width: 20%;
      margin: 0 auto;
      margin-top: 25px;
      cursor: pointer;
    }
  }
}
#FoodListContainer {
  min-height: 800px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .btn-create {
    display: block;
    float: left;
    background-color: #0d0d0d;
    padding: 15px 25px;
    text-align: center;
    justify-self: right;
    text-decoration: none;
    color: white;
    margin-top: 25px;
  }
  .listContainer {
    background-color: #0d0d0d;
  }
}

//top products
#topProductSection,
#allProducts {
  width: 100%;
  min-height: 40vh;
  display: block;
  float: left;
  background-color: #f2f2f2;

  .topProducts {
    width: 100%;
    min-height: 30vh;
    display: block;
    float: left;
    margin: 20px 0 20px 0;
    .productInfo {
      width: 50%;
      float: left;
      height: 100%;
      h1 {
        text-align: left;
        font-size: 3.8rem;
        padding: 20px 15px;
        margin-bottom: 5px;
      }
      span {
        width: 100%;
        padding: 20px 15px;
        font-size: 1.5rem;
      }
      .price {
        width: 100%;
        float: left;
        color: green;
      }
    }
    .productImg {
      width: 50%;
      float: left;
      height: 450px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
// Footer
#footer {
  display: flex;
  background-color: #0d0d0d;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  span {
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
.text {
  background-color: #f2f2f2;
  color: #0d0d0d;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0;
}
// Slider Styles
.sliderContainer {
  background-color: white;
  width: 100%;
  padding: 25px 0;
  h2 {
    text-align: center;
  }
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.textSlider {
  color: #f2f2f2;
  text-align: center;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  text-shadow: 0 0 15px #000;
}
.mySlides {
  display: none;
  img {
    height: 450px;
  }
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
// Media Screens
@media screen and (max-width: 864px) {
  #topProductSection .topProducts .productInfo h1, #allProducts .topProducts .productInfo h1{
    font-size: 2rem;
  }
  #topProductSection .topProducts .productInfo span, #allProducts .topProducts .productInfo span{
    font-size: 1rem;
  }
  #FoodUploadContainer .formContainer {
    width: auto;
    .buttonSubmit {
      width: 50%;
    }
  }
  .header-intro {
    .header-info {
      .button {
        width: 50%;
      }
    }
  }
  .button {
    width: 50%;
  }
  .header-intro .header-info {
    h1 {
      font-size: 2rem;
    }
  }
  .promotion {
    h1 {
      font-size: 2rem;
    }
  }
  #topProductSection,
  #allProducts {
    .topProducts {
      .productInfo {
        width: 100%;
      }
      .productImg {
        width: 100%;
      }
    }
  }
  .menu-item {
    width: 40%;
  }
  .logo {
    padding: 0;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
    background: #0d0d0d;
    opacity: 0;
    transform: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-wrapper ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }
  .nav-wrapper ul li:nth-child(6) a {
    transition-delay: 0.7s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

@media screen and (max-width: 556px) {
  .menu-item {
    width: 100%;
  }
  #top .logo-page h1{

    display: none;
  }
}
#logout {
  cursor: pointer;
}
