{% extends "layout.html" %}
{% load static %}
{% block content %}


<div id="FoodUploadContainer">
    <div class="formContainer">
        <h1>Editar comida</h1>
        <form method="POST" id ="foodUploadEdit">
            {% csrf_token %}
            <div class="form-control">
                <label for="name">Nombre </label>
                <input type="text" name="name" required value={{food.name}}>
            </div>
            <div class="form-control">
                <label for="price">Precio </label>
                <input type="text" name="price" required value={{food.price}}>
            </div>

            <div class="form-control">
                <label for="description">Descripción </label>
                <textarea name="description">{{food.description}}</textarea>
            </div>
            <div class="form-control">
                <label for="image">Imagen </label>
                <input type="file" id="inputImageUpdate" value={{food.img.url}}>
            </div>
            <input type="submit" class="buttonSubmit" value="Enviar">
        </form>
    </div>
</div>
<script type="text/javascript">
    //Guardamos al usuario en una variable global
    var user = '{{request.user}}';
</script>
<script type="text/javascript" src="{% static 'js/FoodEdit.js' %}"></script>


{% endblock content %}